.App{
    text-align: center;
}
.navbar-nav {
    flex-direction: row;
    gap:15px;
}
.form-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-login__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-login__item p{
    color: red;
    font-size: 12px;
}
.containerRegister__form-register{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerRegister__form-register__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerRegister__form-register__item p{
    color: red;
    font-size: 12px;
}
.botonsRegister{
    color: blue;
    text-decoration: underline;
    font-size: 12px;
}
.CrearUnaOrden{
    text-align: right;
}
.col-lg-7{
    margin: auto;
}
/**/
.instaYA_logo{
font-family: 'Emblema One';
}
.form-inicial{
   
    box-sizing: border-box;
}
.navbar-brand{
    font-family: 'Emblema One';
}
.ingrese_orden{
    display: auto;
    text-align: center;
    display: inline-flex;
    gap: 20px;
}
